body {
	background-image:
		url("http://pic.58pic.com/58pic/13/71/06/63J58PIC2FC_1024.jpg");
	background-position: center 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
}